In [10]:
import plotly.express as px
from matplotlib import image

In [11]:
import scanpy as sc
import anndata as ad

In [12]:
_h5ad_data = ad.read_h5ad('/Users/jmzhang/workspace/mygithub/SpatialTools/spatial_tools/data_set/level7.h5ad')

In [13]:
adata.obs

          n_genes leiden
L7_599       1724      5
L7_600       1708      5
L7_640       1699      5
L7_641       1447      5
L7_642       1818      5
...           ...    ...
L7_18856      467      8
L7_18857      726      0
L7_18858      400      0
L7_18859      195      8
L7_18860      243      8

[14851 rows x 2 columns]

In [1]:
import pandas as pd

In [15]:
_other_data = pd.read_csv('data_set/L7_heAuto_RCTD.xls', sep='\t')

In [16]:
data_others

,spot_class,first_type,second_type,first_class,second_class,min_score,singlet_score,conv_all,conv_doublet,class
L7_599,doublet_certain,Neuroendocrine cell,Erythroid cell,False,False,516.703103,546.414013,True,True,Neuroendocrine cell
L7_600,doublet_certain,Neuroendocrine cell,Erythroid cell,False,False,562.903060,595.348262,True,True,Neuroendocrine cell
L7_640,reject,Erythroid cell,Oligodendrocyte precursor cell,False,False,610.437048,660.437048,True,True,NaN
L7_641,doublet_certain,Allantois cell,Erythroid cell,False,False,458.912875,499.816233,True,True,Allantois cell
L7_642,doublet_uncertain,Erythroid cell,Allantois cell,False,False,516.529005,588.391026,True,True,Erythroid cell
...,...,...,...,...,...,...,...,...,...,...
L7_18856,doublet_uncertain,Erythroid cell,Allantois cell,False,False,241.351298,306.366463,True,True,Erythroid cell
L7_18857,singlet,Endothelial cell,Allantois cell,False,False,307.701425,327.999127,True,True,Endothelial cell
L7_18858,reject,Allantois cell,Megakaryocyte,False,False,215.980619,265.980619,True,True,NaN
L7_18859,reject,Allantois cell,Erythroid cell,False,False,123.505094,173.505094,True,True,NaN
L7_18860,reject,Endothelial cell,Erythroid cell,False,False,154.867604,204.867604,True,True,NaN

In [8]:
data['conv_all']

L2_11793     True
L2_11979     True
L2_11980     True
L2_11981     True
L2_11982     True
             ...
L2_337692    True
L2_337699    True
L2_337706    True
L2_337712    True
L2_337728    True
Name: conv_all, Length: 148671, dtype: bool